@model List<WebBanHangMyPham.Models.ThongTinSanPham>

@if(Model.Count>0)
{ 
    <table class="table table-striped" width="100%">
        <tr class="tablle-info">
            <th style="text-align:center;width:20%"></th>
            <th style="text-align:center;">
                <label asp-for="@Model.FirstOrDefault().TenSanPham"></label>
            </th>
            <th style="text-align:center;">
                <label asp-for="@Model.FirstOrDefault().LoaiSanPhamId"></label>
            </th>
            <th style="text-align:center;">
                <label asp-for="@Model.FirstOrDefault().HangSanXuat"></label>
            </th>
            <th style="text-align:center;">
                <label asp-for="@Model.FirstOrDefault().DonGia"></label>
            </th>
            <th style="text-align:center;"></th>
        </tr>
        @foreach(var item in Model)
        {
            <tr style="padding:50px;">
                <td>
                    <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.Image" width="100%" style="margin:auto;display:block;border-radius:5px;border:1px" />
                    </a>
                </td>
                <td style="text-align:center">
                    @*@HtmlDisplayFor(c=>item.TenSanPham)*@
                </td>
            </tr>
        }
    </table>
}