@*@model WebBanHangMyPham.Models.ViewModels.ShippingCartViewModel
    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <form method="post">
        <br /><br />
        <h2  class="text-info"Your Shopping Cart</h2>
        <br />
        @if(Model.ThongTinSanPhams.Count > 0)
        {
            <div class="container border border-secondary rounded"style="padding:15px;">
                <div class="row">
                    <div class="col-8" style="border-right:1px solid #bbb9b9;">
                        <table class="table table-striped" width="100%">
                            <tr class="table-info">
                                <th style="text-align:center;width:20%"></th>
                                <th style="text-align:center;">
                                    <label asp-for="@Model.ThongTinSanPhams.FirstOrDefault().TenSanPham"></label>
                                </th>
                                <th style="text-align:center;">
                                    <label asp-for="@Model.ThongTinSanPhams.FirstOrDefault().DonGia"></label>
                                </th>
                                <th style="text-align:center;">
                                    <label asp-for="@Model.ThongTinSanPhams.FirstOrDefault().LoaiSanPhamId"></label>
                                </th>
                                <th style="text-align:center;"></th>
                                </tr>
                            @foreach(var item in Model.ThongTinSanPhams)
                            {
                                <tr style="padding:50px;">
                                    <td>
                                        <a asp-area="Customer" asp-controller="Home" asp-route="Details" asp-route-id="@item.Id">
                                            <img src="@item."/>
                                        </a>


                                    </td>
                                </tr>
                            }

                        </table>

                    </div>
                </div>
            </div>

        }

    </form>*@


////

@*@model WebBanHangMyPham.Models.ViewModels.ShippingCartViewModel*@
@model WebBanHangMyPham.Models.ViewModels.MenuItemViewModel
@using WebBanHangMyPham.Extensions
@{
    ViewData["Title"] = "Edit";
}

<br />
<h2 class="text-info">Chỉnh sửa Giỏ hàng</h2>
<br />
<form method="post">
    <div class="p-4 border backgroundWhite">
        <input type="hidden" asp-for="MenuItem.Id" />
        <div asp-validation-summary="ModelOnly" class="text=danger"></div>

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Name" class="form-control" />
                </div>
                <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
            </div>
            <div class="p-4 border backgroundWhite">
                <div asp-validation-summary="ModelOnly" class="text=danger"></div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MenuItem.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="MenuItem.Name" class="form-control" />
                    </div>
                    <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="p-4 border backgroundWhite">
                <div asp-validation-summary="ModelOnly" class="text=danger"></div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MenuItem.MoTa"></label>
                    </div>
                    <div class="col-8">
                        @Html.Raw(Model.MenuItem.MoTa)
                    </div>
                    <span asp-validation-for="MenuItem.MoTa" class="text-danger"></span>
                </div>
            </div>
            <div class="p-4 border backgroundWhite">
                <div asp-validation-summary="ModelOnly" class="text=danger"></div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MenuItem.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="MenuItem.Price"  readonly class="form-control" />
                    </div>
                    
                </div>
            </div>
            
            <div class="p-4 border backgroundWhite">
                <div asp-validation-summary="ModelOnly" class="text=danger"></div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MenuItem.LoaiSanPhamId"></label>
                    </div>
                    <input asp-for="MenuItem.ThongTinLoaiSanPham.TenLoaiSanPham" readonly class="form-control" />
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MenuItem.SanPhamId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="@Model.MenuItem.ThongTinSanPham" name="SanPhamId" id="SanPhamId" asp-items="@(new SelectList(string.Empty, "Id", "Name"))" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        
                    </div>
                    <div class="col-4">
                        <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                    </div>
                
                    <div class="col-4">
                        <button type="submit" value="Add to Cart" class="btn btn-primary form-control">Add to Cart</button>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-3 offset-1">
            <img src="@Model.MenuItem.Image" width="100%" style="border-radius: 5px;border:1px solid #bbb9b9;" />
        </div>


    </div>
    @*<br />*@
    @*<input asp-for="MenuItem.Id"hidden />*@

</form>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




